<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>SF5JSF</display-name>
	<!-- Adding filter -->
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>org.openbox.sf5.application.AuthorizationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>login.xhtml</welcome-file>
  	</welcome-file-list>
  	<servlet>
    	<servlet-name>Faces Servlet</servlet-name>
    	<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    	<load-on-startup>1</load-on-startup>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>Faces Servlet</servlet-name>
    	<url-pattern>*.xhtml</url-pattern>
  	</servlet-mapping>
  
  	<servlet>
		<servlet-name>Jersey Web Application</servlet-name>
<!-- 	This is Jersey 1	
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		http://stackoverflow.com/questions/4412147/the-resourceconfig-instance-does-not-contain-any-root-resource-classes/9093134#9093134
		<init-param>
  			<param-name>com.sun.jersey.config.property.packages</param-name>
  			<param-value>org.openbox.sf5.json</param-value>
		</init-param> -->
		
		<!-- This is for 2.x container -->
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<!--  		https://jersey.java.net/documentation/latest/deployment.html#environmenmt.appmodel  --> 
		<init-param>
    		<param-name>jersey.config.server.provider.packages</param-name>
    		<param-value>org.openbox.sf5.json</param-value>
    	</init-param>
    	<init-param>
   			<param-name>jersey.config.server.monitoring.statistics.mbeans.enabled</param-name>
   			<param-value>true</param-value>
		</init-param>
		
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey Web Application</servlet-name>
		<url-pattern>/json/*</url-pattern>
	</servlet-mapping>
  
  
  
  <context-param>
    <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
    <param-value>true</param-value>
</context-param>
<context-param>
    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
    <param-value>true</param-value>
</context-param>
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>
</web-app>